name: test

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types:
      - closed
  issues:
    types:
      - opened
      - reopened

jobs:
  workflow1:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pycabbage/release-workflow@develop
